.header__menu__item {
  margin-left: 20px;
  font-size: 1.6rem;
  text-decoration: none;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 16px 0;
  margin: 0 12px;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s;
  color: #2f302f;

  &:hover {
    color: #cf2e2e;
  }
  &:focus,
  &:active,
  &.active {
    color: #cf2e2e;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 95%;
    height: 3px;
    width: 100%;
    background-color: #b62727;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    transition: color 0.1s, -webkit-transform 0.2s ease-out;
    transition: color 0.1s, transform 0.2s ease-out;
    transition: color 0.1s, transform 0.2s ease-out,
      -webkit-transform 0.2s ease-out;
  }

  &:active::before {
    background-color: #b62727;
  }

  &:hover::before,
  &:focus::before,
  &.active::before {
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
